<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./navbar.ejs')%>
    <div class="main-div">
      <h1 class="main-title"><%= name %></h1>
    </div>
  </body>
</html>
