<div class="navbar">
    <a class="main-btn btn" href="/anasayfa">Ana Sayfa</a>
    <a class="main-btn btn" href="/hakkimizda">Hakkımızda</a>
    <a class="main-btn btn" href="/iletisim">İletişim</a>
    <a class="main-btn btn" href="/kutuphane">Kütüphane</a>
</div>